.header {
    background-color: #edeae9;
    padding: 0.5em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    border-bottom: 1px solid #e5dedb;
}

.darkHeader {
    background-color: #33353f;
    border-bottom: 1px solid #20222a;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.titre {
    color: #46403b;
    text-decoration: none;
    font-weight: 700;
}

.darkHeader .titre {
    color: #eae5e2;
}

.titre h1 {
    font-size: 0.8em;
    margin: 0;
}

.headerDroit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav a {
    color: #46403b;
    font-size: 0.8em;
    text-decoration: none;
    margin-left: 1.5em;
}

.darkHeader .nav a {
    color: #eae5e2;
}

.nav a.actif,
.darkHeader .nav a.actif {
    color: #df5d3b;
    text-decoration: underline;
}

.nav a:hover,
.darkHeader .nav a:hover {
    color: #df5d3b;
}

@media screen and (min-width: 400px) {
    .titre h1 {
        font-size: 1em;
    }

    .nav a {
        font-size: 0.9em;
    }

    .header {
        padding: 0.8em 0;
    }
}
