@font-face {
    font-family: "Albra";
    src: url("../public/fonts/Albra-Grotesk-Regular.woff") format("woff"),
        url("../public/fonts/Albra-Grotesk-Regular.eot") format("eot");
}

@font-face {
    font-family: "Albra";
    src: url("../public/fonts/Albra-Grotesk-Semi.woff") format("woff"),
        url("../public/fonts/Albra-Grotesk-Semi.eot") format("eot");
    font-weight: 600;
}

@font-face {
    font-family: "Albra";
    src: url("../public/fonts/Albra-Grotesk-Bold.woff") format("woff"),
        url("../public/fonts/Albra-Grotesk-Bold.eot") format("eot");
    font-weight: 700;
}

body {
    background-color: #e5dedb;
    color: #797775;
    font-family: "Albra";
}

body.dark {
    background-color: #20222a;
    color: #c2c2c2;
}

* {
    box-sizing: border-box;
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container950 {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

.containerTop {
    margin: 4em 0;
}

h2,
h3 {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 0 0.5em;
    color: #46403b;
}

h3 {
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

body.dark h2,
body.dark h3 {
    color: #ebebeb;
}

a {
    color: #797775;
}

body.dark a {
    color: #c2c2c2;
}

a:hover,
body.dark a:hover {
    color: #df5d3b;
}

.btn {
    background-color: #df5d3b;
    color: #edeae9;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.3em 0.6em 0.4em;
    font-size: 0.9em;
    border-radius: 3px;
    text-decoration: none;
}

.btn:hover,
body.dark .btn:hover {
    background-color: #e07a5f;
    color: #edeae9;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media screen and (min-width: 400px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0;
    }
}
